<div class="border-start border-4 m-4 p-3">
  <figure>
    <blockquote class="blockquote" id="question_user">
      <p>
      <%= @user_question %>
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      You
  </figcaption>
  </figure>
</div>

<div class="border-start border-4 m-4 p-3">
  <figure>
    <blockquote class="blockquote" id="answer_coach">
      <p>
        <%= @answer %>
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      You
  </figcaption>
  </figure>
</div>
